<div class="container-fluid">
   <div class="mx-auto w-25 m-5 p-2 fs-5-sm rounded" style = "background-color: black">
      <h1 class="text-danger text-center p-3">Sign-Up</h1>
      <form action="/users" method="post">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <div class="m-3">
            <label class="form-label" for="name">Full Name:</label>
            <input class="form-control w-100" name="user[name]" placeholder="Enter your fullname" type="text">
         </div>
         <div class="m-3">
            <label class="form-label" for="email">Email Id:</label>
            <input class="form-control w-100" name="user[email]" placeholder="Enter your email" type="email">
         </div>
         <div class="m-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control w-100" name="user[password]" placeholder="Enter password" type="password">
         </div>
         <div class="m-3">
            <label class="form-label" for="password_confirmation">Confirm password:</label>
            <input class="form-control w-100" name="user[password_confirmation]" placeholder="Enter password again" type="password">
         </div>

         <button class="btn btn-danger m-3 fs-5">Create Account</button>
         <%= link_to "Cancel", root_path, class: "btn btn-dark my-3 fs-5 text-decoration-none text-white" %>
      </form>
   </div>
</div>