<h1 class = "fs-3 text-danger fw-bold pt-2 pb-4">YOU HAVE TO MAKE PAYMENT TO SEE POSTS</h1>

  <label class="amount">
    <span class = "fs-4">Amount: RS: 50.00/-</span>
  </label>
  <%= button_to "Pay Rs. 50/-", payments_create_path, method: :post , class: "btn btn-danger m-3"%>
<br><br>

