/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .feed{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .notice{
  margin: 12px;
  padding-left: 5px;
  font-size: 1rem;
  color: rgba(44, 223, 139, 0.788);
  border: 1px solid #00592c;
  background: #002d00a1;
 }

 .alert {
  margin: 12px;
  padding-left: 5px;
  font-size: 1rem;
  color: red;
  border: 1px solid brown;
  background: #4103035e;
 }